

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;;
    grid-template-columns: 300px auto;
    grid-template-rows: 150px auto;
    height: 100vh;
}
.sidebar {
    padding-left: 20px;
    grid-row: span 2;
    background-color: #246bc1;
    display: grid;
    grid-template-rows: 67px repeat(10, 20px) auto;
    gap: 15px;
}

.side-item{
    color: white;
    align-self: left;
    size: 3em;
    font-weight: bold;

}

.dashboard {
    background-color: lightgray;
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 30px auto;
    grid-template-columns: repeat(2,1fr) 300px;
}

.cards {
    grid-column: 1/3;
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}

.other-side{
    grid-column: 3/4;
    grid-row: 1/5;
    padding: 10px;

}
.header {
    box-shadow: 0px 2px 8px rgb(97, 97, 97);
    z-index: 1;
}
